/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

:root {
	--bg: white;

	--c1: rgba(245, 245, 245, 0.8);

	--s: 250px;
	--meshS: 250px;
	--bgs: 1000px;
	--shadow: 0 0.4rem 8rem -1rem rgba(0, 0, 0, 0.6);

	/*	to be randomized*/
	--c3: #FEDF03;
	--c4: #0BB4C1;

	--cbtn1: rgba(0, 0, 0, 0.8);
	--cbtnhover1: rgba(0, 0, 0, 0.9);
	--cbtn2: var(--c1);
	--cbtnhover2: rgba(245, 245, 245, 0.9);
}

.no-js {
	visibility: hidden;
	opacity: 0;
}

.js {
	visibility: visible;
	opacity: 1;
	transition: opacity .5s ease 1s;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	width: 100%;
}

body {
	background: var(--bg);
	display: grid;
}

#bg {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
}
#bg:before {
	position: absolute;
	content: "";
	left: calc(50% - calc(var(--bgs) / 2));
	top: calc(50% - calc(var(--bgs) / 4));
	width: var(--bgs);
	height: calc(var(--bgs) / 2);
	border-radius: 100%;
	background-color: var(--c3);
	filter: blur(calc(var(--bgs) / 5));
	animation: bg-anim 30s linear infinite reverse;
	animation-delay: -1s;
}

#bg:after {
	position: absolute;
	content: "";
	left: calc(50% - calc(var(--bgs) / 4));
	top: calc(50% - calc(var(--bgs) / 2));
	width: calc(var(--bgs) / 2);
	height: var(--bgs);
	border-radius: 100%;
	background-color: var(--c4);
	filter: blur(calc(var(--bgs) / 5));
	animation: bg-anim 30s linear infinite;
	animation-delay: -1s;
}

#content {
	margin: auto;
	box-shadow: var(--shadow);
	z-index: 1;
	border-radius: 8px 8px 0px 0px;
	overflow: hidden;
}

#anim-object {
	height: calc(var(--s) / 2);
	width: calc(var(--s) / 3);
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: -1rem;
	/*	animation: fadein 1s ease;*/
}

h1 span {
	font-weight: 400;
}

.info {
	text-align: center;
	width: var(--s);
	margin: auto;
	background-color: var(--c1);
}

.info p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	padding: 0.5rem;
}

#anim-object, #mesh {
	margin: 0 auto;
}

#mesh {
	cursor:pointer;
	width: var(--meshS);
	height: var(--meshS);
	/*	background-color: rgba(88, 0, 255, 0.2);*/
	/*	background: linear-gradient(rgba(38, 0, 165, 0.2) ,rgba(0,0,0,0) 50%);*/
}

#container {
	margin: auto;
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	width: var(--s);
}

#container p, #container a{
	font-size: 1.1rem;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

#container p{
	color: white;
}

#container a {
	color: black;
}

#icon, .item {
	cursor: pointer;
	transition: background .5s ease;
}

#icon {
	padding: 0.5rem;
	background: var(--cbtn1);
}

.item{
	padding: 0.5rem;
	background: var(--cbtn2);
}

.item:hover {
	background: var(--cbtnhover2);
}

#icon:hover {
	background: var(--cbtnhover1);
}

#menu {
	height: 0;
	overflow: hidden;
	transition: height .5s ease;
}

@keyframes bg-anim { 
	0%, 100% { transform: rotate(0deg) translateX(0px); }
	50%  { transform: rotate(360deg) translateX(calc( var(--bgs) / 4)); }
	50.001%  { transform: rotate(-360deg) translateX(calc( var(--bgs) / 4));}
}

/*
@media only screen and (max-width: 480px) {

}
*/
